<%= form_with(model: [project,task], local: true) do |form| %>
  <%= form.hidden_field :project_id, value: project.id %>
　<fieldset class="uk-fieldset">
    <div class="uk-margin-medium">
      <label class="uk-form-label" for="form-stacked-text">名前：</label>
  　　 <%= form.text_field :title ,class: :"uk-input uk-form-width-large" %>
    </div>
    <div class="uk-margin-medium">
      <label class="uk-form-label" for="form-stacked-text">メモ：</label>
  　　 <%= form.text_area :comment ,class: :"uk-input uk-form-width-large" %>
    </div>
    <div class="uk-margin-medium">
      <label class="uk-form-label" for="form-stacked-text">タグ：</label>
  　　 <%= form.text_field :tags_name,class: :"uk-input uk-form-width-large",value: @tag_list %>
    </div>
    <div class="uk-margin-medium">
      <label class="uk-form-label" for="form-stacked-text">期限：</label>
  　　 <%= form.date_select :deadline ,default: { year: 2000, month: 1, day: 1 }%>
    </div>
    <div class="uk-margin-medium">
　　   <%= form.submit "作成",class: :"uk-button uk-button-default" %>
    </div>
  </fieldset>
<% end %>
