<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo"><%= @project.name %></a>
        <ul class="uk-navbar-nav">
            <%= link_to '新規タスク作成',new_project_task_path(@project) , class: "uk-button uk-button-default" %>
        </ul>
        <%= link_to "/projects", method: :get do %>
            <span class="uk-margin-small-left" uk-icon="home">プロジェクト一覧に戻る</span>
        <% end %>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <%= render 'search', project: @project %>
        </div>
    </div>
  </nav>
  <div class="uk-container uk-container-small">
    <% @tasks.each do |task| %>
      <div class="uk-margin-medium uk-card uk-card-default uk-width-1@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-3-4">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= task.title %></h3>
              </div>
              <div class="uk-width-1-4">
                <ul class="uk-list">
                  <li><%= link_to 'Show', "/projects/#{@project.id}/tasks/#{task.id}", class: "uk-button uk-button-text uk-card-footer-button" %></li>
                  <li><%= link_to 'Edit', "/projects/#{@project.id}/tasks/#{task.id}/edit", class: "uk-button uk-button-text uk-card-footer-button" %></li>
                  <li><%= link_to 'Destroy', "/projects/#{@project.id}/tasks/#{task.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "uk-button uk-button-text uk-card-footer-button" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-card-footer">
          <% task.tags.each do |tag| %>
            <span class="uk-badge">#<%= tag.tags_name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>